
@{
    Layout = null;
    if (Session["AccountNo"] == null)
    {
        Response.Redirect("~/CustomerLogin/Index");

    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Dashboard</h1>
        <h3>Name : @Session["CustomerName"].ToString()</h3>
        <a href="@Url.Action("LogOut","CustomerLogin")">LogOut</a>
    </div>
</body>
</html>
